<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Pivotal Network</title>
    <link href="/pivotal-ui.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div class="bg-dark-1">
      <h1 class="txt-c type-neutral-11 mvn">This is Enchiladas!</h1>
      <div id="pane"></div>
    </div>

    <script src="/pivotal-ui.js" type="text/javascript"></script>
    <script src="/main.js" type="text/javascript"></script>
  </body>
</html>
